*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cont1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
h1 {
  font-size: 92px;
  font-weight: bolder;
}
